/* Style css */
header{
    font: 800;
    text-align: center;
    color: white;
}
#descrip{
    background: fixed;
    background-image: linear-gradient(to right, black, grey);
    padding: 35px;
    text-align: center;
    border: solid 0px;
    border-radius: 700px;
}
.hidden{
    display: none;
}
body{
    background-image: linear-gradient(to left, blue, violet, blueviolet);
}
h1.tit{
    font-size: 40px;
}
.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 0;
    overflow: hidden;
}

section {
    opacity: 1;
    transition: opacity 0.3s ease;
}
